@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
   
*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: "Titillium Web";
	
}
body {
	
	font-family: "montserrat, sans-serif";
	margin: 0;	
	text-align: center;
}

.inicio{	
	margin-top: 1px;
	background: linear-gradient(rgb(238, 229, 236), orange);
	
	font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;  
	background-size: cover;
 	background-position: center;
 	height: 120px;
 	width: 100%;	
  	display: flex; 
  	align-items: center;
	  border-radius: 0px;	 
	  box-shadow:  -11px -11px 22px hwb(0 4% 23%),
				   11px 11px 22px #ffffff;
	
	 
}

.logo img {
	margin-top: 20px;
	width: 100px;
	margin-left: 60px;
	margin-bottom: 10px;
	box-shadow: inset 5px 5px 10px olive,
    inset -5px -5px 10px orange;

	
}
.menucirculo {	
	margin-top: 40px;
	width: 60px;
	margin-left: 100px;	
	margin-bottom: 25px;
	
}
.menucirculo img {	
	width: 40px;	
	
}
.nav{

	padding: 7px;
	display: block;	
    width: 100%;	
	margin: -180px;	
	font-size: 0.8em;	
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif 
	border-radius: 50px;	
}
.nav a{
	
	margin-top: 100px;
	margin:7px;	
	padding: 4px;
	margin-right: 100px;
	width: 75px;
	height: 25px;	
	display: block;	
	color:white;
	background:red;
	border-radius: 20%;			
}
.nav a:hover {		
	color: orange;	
}

.sabores{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/comidarapida.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    height: 400px;
}
.sabores .contenido-seccion{
    max-width: 1000px;
	height: 400px;
    margin: auto;
    padding: 0 10px;
   
}
h3{
    font-size: 40px;
}
.titulo-seccion h2{
    font-size: 50px;
}












.info {
	display: none;	
	margin-top: -50px;
	text-align: justify;
	width: 70%;
	font-size: 1em;
	border-radius: 39px;	
}
.info:hover {
	margin-top: 2px;
	opacity: 0.6;
	background-color:antiquewhite;	
	box-shadow:  13px 13px 23px #c1c1c1,
		-13px -13px 23px #ffffff;	
}
.cajaSlider h3{
	background-color: #940253;
	color: #e0e0e0;	

}

.carousel {	
	margin-left: 70px;
	
	text-align: center;	
	width: 220px;
	height: 140px;
	transition: 400ms;
	
}
.carousel-item img{ 
	
	width: 220px;
	height: 140px;  
}
.carousel-inner{	
	height:140px; 
}
.d-block w-10{
	height: 140px;   
}	
.delivery{
	display: flex;	
	justify-content: space-between;
	justify-items: center;
	justify-content: center;
	margin-top: 40px;
	margin: 3px;
}

.visitar {	
	margin-top: 20px;
	justify-content: center;
	text-align: center;
	display: flex;
	font-size: 0.8em;
		
	width: 100px;
	height: 20px;   
	border-radius: 39px;
	background: linear-gradient(145deg, red, red);
	box-shadow:  13px 13px 23px #c1c1c1,
				-13px -13px 23px #ffffff;	
}
.visitar a {
	font-size: 1.1em;	
	color:#FEFEFE ;
		
}
.visitarrappi a {
	font-size: 1.1em;	
	color:#FEFEFE ;	
}
.visitar:hover {
	display: block;
	cursor: pointer;	
	box-shadow: 0 0 20px black;   
	font-style: italic; 
	transform: scale(1.1);	
}

.visitarrappi:hover {
	display: block;
	cursor: pointer;	
	box-shadow: 0 0 20px black;   
	font-style: italic; 
	transform: scale(1.1);	
}

.promociones img {
	margin: 20px;
	backdrop-filter: blur(0.4rem);
	width: 380PX;
	border-radius: 10%;	
}

.descripcion h1  {
	font-size: 25px;	
	
}
.descripcion p {
	font-size: 2em;	

	margin-left: 35px;		
	margin-right: 35px;	
}



h1{

	margin-top: -30px;
	justify-content: center;
	justify-items: center;
	padding: 27px;
	margin-left: 35px;	
	margin-right: 35px;
	font-size: 20px;		
}
p{
	
	padding: 27px;
	color: red;
	font-size: 20px;	
}

.lista {
	box-sizing: border-box;
	display: grid;
	grid-template-columns:auto auto;			
	background: linear-gradient(#FEFEFE, rgb(240, 238, 243));
	padding: 30px;
			    
}
.alimentos {
	width: 110px;
	height: 90px;	
	margin: 15px;
	margin-left: 20px;

	background-color: wheat;	
	text-align: center;
	justify-content: center;
	justify-items: center;
	line-height: 100px;			
	transition: 400ms;	
	border-radius: 25px;
	
}
.pagar {
	margin-top: 20px;
}
.pagos {
	text-align: center;
	justify-content: center;
	justify-items: center;
	box-sizing: border-box;
	background-color: cadetblue;	
	margin: 20px;
  	margin-left: 100px;  
	border-radius: 20px;	
	transition: 400ms;
	box-shadow: 10px 10px 30px rgb(0, 0, 0);
	  
	width: 160px;
	height: 100px;	
}
.producto img{
	width: 80px;
	height: 70px;	
}

.alimentos:hover {
	cursor: pointer;
	color: #fff;
	background-color:orange;
	box-shadow: 0 0 20px #fff;  
	transform: scale(1.1);
}


/* aqui vamos a tocar  css del menu*/

.menu_precio{
width: 100%;
height: 400px;
}

/* aqui vamos a tocar  css Nosotros*/

.nosotros{
	font-weight: bold;
	font-size: 2.5rem;
	font-family: "Yellowtail";
	text-shadow: 0 0 35px #fff;
}

.nosotros h1{
	
	font-size: 1.5em;
	
	
}







.footer{
	background: linear-gradient(#FEFEFE, orange);	
	color: #fff;
	margin-top: 20;	
	height: 150px;
	margin: 0;	
	border-radius: 0px;
	
	box-shadow:  11px 11px 22px #938e8e,
             -11px -11px 22px #ffffff;	
}

.footer p{
margin-top: 20px;
	
}
.redes {	
	 
	font-size: 15px;
}
.equipo {
	margin-top: 10px;
	color: #940253;
	
   
	font-size: 15px;
}
.redes a{
	margin-top: 50px;
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color:yellow;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0 10px;
    transition: .3s;
	margin-right: 5px;
	text-align: center;
}

.redes a:hover{
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

 /*responsive */

 @media screen and (min-width: 412px){
	.inicio{
			
		
	}
	
	
	}

 @media screen and (min-width: 768px){
	.inicio{
		display: flex;
		width: 100%;
		background: linear-gradient(#FEFEFE, orange);
		
	}
	#nav{	
		display:flex;		
		
	}
	.nav{
		width: 55%;
		margin-left: 100px;
		justify-content: space-between;	
		
	}
	.nav a{
		margin-right: 200px;
	    margin: 10px;
		margin-top: 70px;
		font-size: 1.5em;
		background:none;
	
				
	}
	.nav a:hover {	
		text-decoration: none;
		color: red
	}
	.menucirculo {	
	 display: none;			
	}
	.carousel {		
		margin-left: 270px;		
		text-align: center;	
		width: 220px;
		height: 140px;
		transition: 400ms;
		
	}
	
	
	

	.lista{
		display: grid;
		grid-template-columns:auto auto auto;
	}	
	
	.pagar {
		width: 100%;
		background-color: #940253;
		justify-content: space-between;	
		justify-content: center;
		justify-items: center;		
		display: grid;
		grid-template-columns:auto auto auto;
	}	
		
	.pagos {
		width: 70%;
		
		justify-content: space-between;	
		justify-content: center;
		justify-items: center;	
		margin: 15px;			
		padding: 20px;		
	}				
		
			
}
	
 
 @media screen and (min-width: 1280px){
	.inicio{	
		background: linear-gradient(#FEFEFE, orange);		
		  display: flex; 	
		  justify-content: space-between;
		  justify-items: center;		 
	}
	.nav{
		
		justify-content: space-around;	
		width: 35%;
	margin: 0;
		
	}
	.nav a{
		font-size: 1.5em;
		background:none;
		margin-top: 90px;	
		border-radius: 15%;			
	}
	.nav a:hover {	
		text-decoration: none;
		color: red
	}
	.menucirculo {	
	 display: none;			
	}

	.info {
		display: flex;
		margin-top: -50px;
		margin-left: 50px;
		text-align: justify;
		width: 90%;
		color:white;	
		font-size: 1em;
		border-radius: 39px;		
	}

	.info:hover {		
		color: #000;
		box-shadow:  13px 13px 23px #c1c1c1,
			-13px -13px 23px #ffffff;	
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.carousel {	
	
		text-align: center;	
		height: 290px;
		width: 480px;
		transition: 400ms;
		
	}
	.carousel-item img{ 
		margin-left: 20px;
		height: 290px;
		width: 480px;
	}
	.carousel-inner{	
		height: 290px;
	}
	.d-block w-10{
		height: 290px;
		   
	}	
    .menu{
		display: flex;		
	}
	
	.deleite h1 {
		display: flex;
		font-size: 3em;
		
		
	}
	.principal {
		display: flex;
		margin-left: 740px;		
	}

	.visitar {	
		margin: 10px;	
		font-size: 0.8em;			
		width: 150px;
		height: 25px;   
		border-radius: 39px;
		background: linear-gradient(145deg, red, red);
		box-shadow:  13px 13px 23px #c1c1c1,
					-13px -13px 23px #ffffff;	
	}
	
	.visitar a {
		font-size: 1.1em;	
		color:#FEFEFE ;
			
	}
	.visitarrappi a {
		font-size: 1.1em;	
		color:#FEFEFE ;	
	}
	.visitar:hover {
		display: block;
		cursor: pointer;	
		box-shadow: 0 0 20px black;   
		font-style: italic; 
		transform: scale(1.1);	
	}
	
	.visitarrappi:hover {
		display: block;
		cursor: pointer;	
		box-shadow: 0 0 20px black;   
		font-style: italic; 
		transform: scale(1.1);	
	}
		
			
	.lista {
		box-sizing: border-box;
		display: grid;
		grid-template-columns:auto auto auto auto;
	
				
		background: linear-gradient(#FEFEFE, rgb(240, 238, 243));
		padding: 30px;
					
	}
	.alimentos {
		width: 210px;
		height: 180px;	
		margin: 15px;
		margin-left: 20px;
	
		background-color: wheat;	
		text-align: center;
		justify-content: center;
		justify-items: center;
		line-height: 100px;			
		transition: 400ms;	
		border-radius: 25px;
		
	}
	.producto img{
		width: 160px;
		height: 140px;	
	}
		
}
	
	
	
	
	
	
	
			
			
	

	
	
	
    

	
	
	
	
	
	
	
	
	
	
	
	