*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	text-align: center;
}

.inicio{	
	margin-top: 1px;
	background: linear-gradient(#FEFEFE, orange);
	
	font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;  
	background-size: cover;
 	background-position: center;
 	height: 120px;
 	width: 100%;	
  	display: flex; 
  	align-items: center;
	  border-radius: 0px;	 
	  box-shadow:  -11px -11px 22px #938e8e,
				   11px 11px 22px #ffffff;
	
	
	  
	
	 
}

.logo img {
	margin-top: 20px;
	width: 100px;
	margin-left: 60px;
	margin-bottom: 10px;
}
.menucirculo {	
	
	width: 60px;
	margin-left: 20px;	
	margin-bottom: 25px;
	
}
.menucirculo img {	
	width: 40px;	
	
}
.nav{
	padding: 7px;
	display: block;	
    width: 100%;	
	margin: -90px;	
	font-size: 0.8em;	
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif 
	border-radius: 50px;	
}
.nav a{
	
	margin-top: 100px;
	margin:7px;	
	padding: 4px;
	margin-right: 60px;
	width: 75px;
	height: 25px;	
	display: block;	
	color:white;
	background:red;
	border-radius: 20%;			
}
.nav a:hover {		
	color: orange;	
}

.contenedorcarrusel {	
	width: 240px;
	height: 150px;	
	margin-left: 55px;
	border-radius: 19px;
	background: #e0e0e0;
	box-shadow: inset 5px 5px 10px #747474,
        inset -5px -5px 10px #ffffff;
	box-shadow:  13px 13px 23px #c1c1c1,
		-13px -13px 23px #ffffff;				
}
.carousel {	
	text-align: center;	
	width: 220px;
	height: 150px;
	transition: 400ms;
	
}
.carousel-item img{ 
	margin-left: 20px;
	width: 220px;
	height: 150px;  
}
.carousel-inner{	
	height:150px; 
}
.d-block w-10{
	height: 150px;   
}	
.principal {
	display: flex;	
	justify-content: space-between;
	justify-items: center;
	justify-content: center;
	margin-top: 20px;
	margin: 3px;
}

.visitar {	
	
	font-size: 0.8em;
		
	width: 100px;
	height: 20px;   
	border-radius: 39px;
	background: linear-gradient(145deg, red, red);
	box-shadow:  13px 13px 23px #c1c1c1,
				-13px -13px 23px #ffffff;	
}
.visitarrappi {		
		
	justify-content: center;
	justify-items: center;	
	font-size: 0.8em;
	width: 100px;
	height: 20px;
	background-color:#FF441F;   
	border-radius: 39px;	
	box-shadow:  13px 13px 23px #c1c1c1,
				-13px -13px 23px #ffffff;	
}

.visitar a {
	font-size: 1.1em;	
	color:#FEFEFE ;
		
}
.visitarrappi a {
	font-size: 1.1em;	
	color:#FEFEFE ;	
}
.visitar:hover {
	display: block;
	cursor: pointer;	
	box-shadow: 0 0 20px black;   
	font-style: italic; 
	transform: scale(1.1);	
}

.visitarrappi:hover {
	display: block;
	cursor: pointer;	
	box-shadow: 0 0 20px black;   
	font-style: italic; 
	transform: scale(1.1);	
}
.vista{
	font-size:10px;
	padding: auto;	
	background-color:red;	
	color: white;
	height: 20px;
	width: 60px;
	display: inline-block;
	text-decoration: none;	
	border: 1px solid #940253;
	line-height: 20px;	
	transition: .3s;	
	margin-left: 10px;	
}


	


.hambur{
	cursor: pointer;
	margin-left: 80px;
	margin-top: 30px;
	width: 25PX;
}
.hambur:hover {
	cursor: pointer;
	box-shadow: 10px 5px 50px rebeccapurple;
	border-radius: 50%;
	transform: scale(1.2);
	
	


}
h4{
	cursor: pointer;
	margin-left: 60px;
	
	width: 40PX;
}

a {	
	text-decoration: none;
	margin: 15px;
   
   
}	

.promociones {
	margin-top: 30px;	
	cursor: pointer;	
}

.promociones img {

	width: 220PX;	
}

.descripcion h1  {
	font-size: 25px;	
	
}
.descripcion p {
	font-size: 20px;	
	margin-top: -60px;
	margin-left: 35px;		
	margin-right: 35px;	
}



h1{
	margin-top: -30px;
	justify-content: center;
	justify-items: center;
	padding: 27px;
	margin-left: 35px;	
	margin-right: 35px;
	font-size: 20px;		
}
p{
	padding: 27px;
	color: red;
	font-size: 20px;	
}

.lista {
	box-sizing: border-box;
	display: grid;
	grid-template-columns:auto auto;

			
	background: linear-gradient(#FEFEFE, rgb(240, 238, 243));
	padding: 30px;
			    
}
.alimentos {
	width: 110px;
	height: 90px;	
	margin: 15px;
	margin-left: 20px;

	background-color: wheat;	
	text-align: center;
	justify-content: center;
	justify-items: center;
	line-height: 100px;			
	transition: 400ms;	
	border-radius: 25px;
	
}
.pagar {
	margin-top: 20px;
}
.pagos {
	text-align: center;
	justify-content: center;
	justify-items: center;
	box-sizing: border-box;
	background-color: cadetblue;	
	margin: 20px;
  	margin-left: 100px;  
	border-radius: 20px;	
	transition: 400ms;
	box-shadow: 10px 10px 30px rgb(0, 0, 0);
	border: 1px solid green;    
	width: 160px;
	height: 100px;	
}
.producto img{
	width: 80px;
	height: 70px;	
}




.alimentos:hover {
	cursor: pointer;
	color: #fff;
	background-color:orange;
	box-shadow: 0 0 20px #fff;  
	transform: scale(1.1);
}







.footer{
	background: linear-gradient(#FEFEFE, orange);	
	color: #fff;
	margin-top: 20;	
	height: 150px;
	margin: 0;	
	border-radius: 0px;
	
	box-shadow:  11px 11px 22px #938e8e,
             -11px -11px 22px #ffffff;
	
	
}
.footer p{
margin-top: 20px;
	
}
.redes {	
	 
	font-size: 15px;
}
.equipo {
	margin-top: 10px;
	color: #940253;
	
   
	font-size: 15px;
}
.redes a{
	margin-top: 50px;
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color:yellow;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0 10px;
    transition: .3s;
	margin-right: 5px;
	text-align: center;
}

.redes a:hover{
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}


 /*responsive */
 
 @media screen and (min-width: 1024px){
	.inicio{	
		display: flex;
		justify-content: space-between;
		justify-items: center;
		justify-content: center;
		 
	}
	
	.lista {
		box-sizing: border-box;
		display: grid;
		grid-template-columns:auto auto auto auto;
	
				
		background: linear-gradient(#FEFEFE, rgb(240, 238, 243));
		padding: 30px;
					
	}
	.alimentos {
		width: 200px;
		height: 180px;	
		margin: 15px;
		margin-left: 20px;
	
		background-color: wheat;	
		text-align: center;
		justify-content: center;
		justify-items: center;
		line-height: 100px;			
		transition: 400ms;	
		border-radius: 25px;
		
	}
	.pagar {
		margin-top: 20px;
	}

	.menucirculo {	
	display: none;
		
	}
	#nav{
		margin-left: 750px;
		padding: 7px;
		display: flex;	
		width: 100%;	
			
		font-size: 0.8em;	
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
		
	}
    
	#nav a{
		font-size: 1.5em;
		background:none;
		padding: 20px;
		margin-right: 20px;
		width: 75px;
		height: 25px;	
		display: flex;	
		color:red;	
		justify-content: space-between;			
	}
    .contenedorcarrusel {	
		width: 440px;
		height: 290px;	
		margin-left: 430px;
		border-radius: 19px;
		background: #e0e0e0;
		box-shadow: inset 5px 5px 10px #747474,
			inset -5px -5px 10px #ffffff;
		box-shadow:  13px 13px 23px #c1c1c1,
			-13px -13px 23px #ffffff;				
	}
	.carousel {	
		text-align: center;	
		width: 430px;
		height: 280px;
		transition: 400ms;
		
	}
	.carousel-item img{ 
		margin-left: 20px;
		width: 430px;
		height: 280px;  
	}
	.carousel-inner{	
		height:280px; 
	}
	.d-block w-10{
		height: 280px;   
	}	
	
}
		
	@media screen and (min-width: 360px){		
	
	
	
	
	
    
}
	
	
	
	
	
	
	
	
	
	
	
	