*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
ul, ol {
    list-style: none;
}


a {
    text-decoration: none ;  
    color: beige !important;
    margin-left: 0.5em;
}

a:hover {	
	text-decoration:overline;
	margin: 15px;
   	color: red;
}

.menucirculo {	
	width: 60px;
	margin-left: 20px;	
	margin-bottom: 25px;
	width: 40px;	
}

#nav {
    gap: .7em; 
    font-style: italic;
    font-size: 15px;
    display: none;
}

.imagen_logo {
    width: 30%;
}


/* MENU FOOTER */
main {
    min-height: 60vh;
    margin-top: 1em;
}
.encabezado, .footer {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    
}


.redes {
    display: flex;
    gap: .7em;
    border-radius: 50%;
    transition: .3s;
    margin-right: 5px;
}
.redes a:hover{
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}


/* Primera seccion INDEX */
.texto_oferta {
    display: none;
}

#titulo_seccion1, #titulo_seccion4 {
    text-align: center;
    font-size: 20px;
}

/* Carrousel */

.contenedorcarrusel {	
	width: 240px;
	height: 150px;	
	border-radius: 19px;
	background: #e0e0e0;
	box-shadow: inset 5px 5px 10px #747474,
        inset -5px -5px 10px #ffffff;
	box-shadow:  13px 13px 23px #c1c1c1,
		-13px -13px 23px #ffffff;				
}

.carousel {	
	display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
	transition: 400ms;
    align-items: center;
}
.carousel-item img{ 
	width: 220px;
	height: 150px;  
}

.d-block w-10{
	height: 150px;   
    align-items: center;
}	

/* SEGUNDA SECCION DEL INDEX */
#titulo_seccion2 {
    font-size: 17px;
    color: rgb(239, 106, 4);
    text-align: center;
    margin-top: 25px;
}
.cuadro_ahorro {
    background-color: rgba(255, 68, 31, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center
}
#descuento {
    display: inline-block;
}
.visitar {
	font-size: 0.8em;
	width: 100px;
	height: 20px;   
	border-radius: 39px;
	background: linear-gradient(145deg, red, red);
	box-shadow:  13px 13px 23px #c1c1c1,
				-13px -13px 23px #ffffff;	
    text-align: center;
    margin-bottom: 10px;
}


.visitar a {
	font-size: 1.1em;	
	color:#FEFEFE ;
		
}

.visitar:hover {
	display: block;
	cursor: pointer;	
	box-shadow: 0 0 20px black;   
	font-style: italic; 
	transform: scale(1.1);	
}

/* SECCION 3 INDEX */
.lista {
	box-sizing: border-box;
	display: grid;
	grid-template-columns:auto auto;	
	background: linear-gradient(#FEFEFE, rgb(240, 238, 243));
	padding: 30px;
    margin-bottom: 10px;
			    
}
.alimentos {
	width: 110px;
	height: 90px;	
	margin: 15px;
	margin-left: 20px;
	background-color: wheat;	
	text-align: center;
	justify-content: center;
	justify-items: center;
	line-height: 100px;			
	transition: 400ms;	
	border-radius: 25px;
}

.producto img{
	width: 80px;
	height: 70px;	
}

.alimentos:hover {
	cursor: pointer;
	color: #fff;
	background-color:orange;
	box-shadow: 0 0 20px #fff;  
	transform: scale(1.1);
}

/* SECCION 4 */

.forma_pago {
	background-color: cadetblue;	
	margin: 20px;
	border-radius: 20px;	
	transition: 400ms;
	box-shadow: 10px 10px 30px rgb(0, 0, 0);
	border: 1px solid green;    
	text-align: center;
    margin-bottom: 25px;
}




/* CONTACTOS */
/* FORMULARIO */
#boton_enviar_formulario {
	padding: auto;
	background-color: red;	
	color: #fff;
	text-decoration: none;	
	border: 1px solid #940253;
	transition: .3s;
    font-style: italic;
	font-size: 15px;
}

.titulo_contactos {
    text-align: center;
    background-color: #ffbc66ad;
    margin-bottom: 1em;
}

.formulario_estilo {
    background-color: aliceblue;
    display: grid;
    gap: 0.5em;
    margin-bottom: 0.5em;
}
#leyenda_formulario{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}








/* RESPONSIVE */

@media screen and (min-width: 768px) {
    body {
        max-width: 90vw;
        margin: auto !important;
    }
    .encabezado, .footer {
        flex-direction: row;
        padding: 0 1em;
    }
    .imagen_logo {
        width: 20%;
    }
    .menucirculo {
        display: none;
       }
    #nav {
        display: block;
        gap: .7em; 
        font-style: italic;
        font-size: 15px;
    }
    .texto_oferta {
        display: block;
    }

	
	.lista {
		box-sizing: border-box;
		display: grid;
		grid-template-columns:auto auto auto auto;
		background: linear-gradient(#FEFEFE, rgb(240, 238, 243));
		padding: 30px;
					
	}
	.alimentos {
		width: 200px;
		height: 180px;	
		margin: 15px;
		margin-left: 20px;
		background-color: wheat;	
		text-align: center;
		justify-content: center;
		justify-items: center;
		line-height: 100px;			
		transition: 400ms;	
		border-radius: 25px;
		
	}
	.pagar {
		margin-top: 20px;
	}
    .contenedorcarrusel {	
        width: 400px;
        height: 200px;	
    }
    .carousel-item img{ 
        width:500px;
        height: 190px;  
    }
    .cuadro_ahorro{
        padding: 20px;
    }   
}

@media screen and (min-width: 1024px) {
    #nav {
        gap: 1em; 
        font-size: 20px;
        display: block;
    }
    .imagen_logo {
        width: 10%;
    }
}






